.about {
    padding-top: 120px;

    &__wrapper {
        display: grid;
        grid-template: repeat(2, auto) / auto 60%;
        grid-auto-rows: auto;
        gap: 40px 70px;
        justify-content: center;
        align-items: stretch;
    }

    &__photo {
        // grid-row: 1 / 3;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }


    &__aboutMe {
        padding-top: 8px;
    }


    &__desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: 20px;

        &_fsz12 {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 6px;
    }

    &__complete {
        
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(auto-fit, 350px);
        gap: 10px;
        margin-top: 20px;
        justify-content: space-between;
        grid-auto-rows: auto;

        &_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &_wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 27px;
            margin-top: 5px;

            .title_fsz14 {
                padding-left: 15px;
                @include before_circle;

                &:before {
                    top: -35%;
                }
            }
        }
    }

    &__stats_background {
        width: 100%;
        height: 14px;

        background: #E8E4DE;
        border-radius: 4px;

        div {
            height: 14px;
            background: $main-color;
            border-radius: 4px;
        }
    }

}